.my-bookings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3% 0% 4% 0%;
  padding-left: 50px;
  width: 100%;
}

.booking-title {
  text-align: left;
  margin-bottom: 2rem;
  border-bottom: dashed 1px;
  width: 23%;
  font-size: 2.6rem;
}

.table-design {
  width: 80%;
}

.table-h,
.rows {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

.rows {
  background-color: rgb(255, 255, 255);
}

.table-design th,
.table-design td {
  border: 1px solid #7f2c8e;
  padding: 7px;
  font-size: 20px;
  text-align: center;
}

.table-design th {
  background-color: #7f2c8e;
  color: #ffffff;
}

.table-design td {
  background-color: #e7e7e7;
}

.table-design th:last-child,
.table-design td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.my-bookings-container td[colSpan="5"] {
  text-align: center;
}

.unbook-button {
  background-color: #e7e7e7;
  color: #7f2c8e;
  height: 38px;
  width: 90px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 650;
  padding: 4px 9px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.unbook-button:hover {
  transition: all 0.3s ease-out;
  background-color: #4894c1;
  color: #f5f0f8;
}

.filter-form {
  margin-bottom: 2rem;
  display: flex;
}

.filter-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 3rem;
}

.filter-input:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.filter-label {
  margin-right: 1.2rem;
  margin-top: 0.2rem;
  margin-left: 0.1rem;
}

@media (max-width: 767px) {
  .my-bookings-container {
    padding-left: 20px;
  }

  .booking-title {
    width: 100%;
    font-size: 2rem;
  }

  .table-design {
    width: 100%;
  }

  .table-h,
  .rows,
  .table-design th,
  .table-design td {
    font-size: 18px;
  }
  .table-design .decision {
    padding-bottom: 2rem;
  }
}
